<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCYEkKIBwZ9PpRU2tzYfyT3nF66nnRmr9g</string>
	<key>GCM_SENDER_ID</key>
	<string>137948697829</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.team.mytodo</string>
	<key>PROJECT_ID</key>
	<string>my-todo-project-4aee5</string>
	<key>STORAGE_BUCKET</key>
	<string>my-todo-project-4aee5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:137948697829:ios:92c39514a8cbedbbe8f00c</string>
</dict>
</plist>